<form method="post" action="{{action}}">
  <p>
    <label for="accounts">Choose which accounts to synchronize:</label>

    <select id="accounts" name="accounts" multiple>
      {{#each accountOptions}}
        <option value="{{value}}" {{attrs}}>
          {{description}}
        </option>
      {{/each}}
    </select>
  </p>

  <p>
    <input type="submit" value="Submit" />
  </p>
</form>