<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{appName}}</title>
    <meta
      name="description"
      content="Import transactions from European banks into Actual Budget using Enable Banking"
    />
  </head>
  <body>
    {{{body}}}
  </body>
</html>